# DATABASE
APP_ENV=local # local / prod
DB_HOST=localhost
DB_NAME=mvcat_db
DB_USER=root
DB_PASS=

# HOST
APP_HOST = localhost

# APP
APP_BASE = /mvcat #leave as / if hosting at root (no trailing slash allowed)

# system
BASE_UPLOAD_DIR   = /public/uploads
BASE_DOWNLOAD_DIR = /public/uploads




