/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* outline: 1px solid red !important; 
    /* border: 1px solid red !important; 
}

body,html{
    width: 100vw !important;
    overflow-x: hidden;
} */